.row {
	padding: 5px;
	margin: 10px;
}
.bg_color {
    background-color: rgb(118, 230, 90);
    border-radius: 15px;
}
input, select {
    border-radius: 5px;
    font-size: 16px;
}

.text_left{
	text-align: left !important;
	vertical-align: middle;
}
.text_right {
	text-align: right !important;
}
select {
	width: 100%;
}