<div id="menu">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>{{ title }}</span>
            <span>
                <button 
                  class="spacing_btn" 
                  mat-button class="spacing_btn" 
                  mat-raised-button 
                  [routerLink]="[ '/']">Home</button>
            </span>
            <span>
              <button 
                class="spacing_btn" 
                mat-button class="spacing_btn" 
                mat-raised-button 
                [routerLink]="['/schooldetails']">List Category</button>
            </span>
          </mat-toolbar-row>
      </mat-toolbar>
  </div>
  
    <router-outlet></router-outlet>
