<div id="menu">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>{{ title }}</span>
            <span>
                <button 
                  class="spacing_btn" 
                  mat-button class="spacing_btn" 
                  mat-raised-button 
                  [routerLink]="[ '/']"><mat-icon>home</mat-icon> Home</button>
            </span>
            <span>
              <button 
                class="spacing_btn" 
                mat-button class="spacing_btn" 
                mat-raised-button 
                [routerLink]="['/schooldetails']"><mat-icon>list</mat-icon> List Category</button>
            </span>
            <span class="fill-remaining-space">
                <button 
                class="spacing_btn" 
                mat-button 
                mat-raised-button 
                [matMenuTriggerFor]="menu"><mat-icon>perm_identity</mat-icon> Student</button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/createstudent']"><mat-icon>create</mat-icon> Register form</button>
                    <button mat-menu-item [routerLink]="['/liststudent']"><mat-icon>people_outline</mat-icon> All student List</button>
                    <button mat-menu-item [routerLink]="['/searchstudent']"><mat-icon>search</mat-icon> Search</button>
                </mat-menu>
            </span>
            <span>
                <button disabled
                    class="spacing_btn" 
                    mat-button class="spacing_btn" 
                    mat-raised-button 
                    [routerLink]="[ '/']"><mat-icon>how_to_reg</mat-icon> Register</button>
            </span>
            <span>
                <button disabled
                    class="spacing_btn" 
                    mat-button class="spacing_btn" 
                    mat-raised-button 
                    [routerLink]="[ '/']"><mat-icon>input</mat-icon> Login</button>
            </span>
            <span>
                    <button disabled
                        class="spacing_btn" 
                        mat-button class="spacing_btn" 
                        mat-raised-button 
                        [routerLink]="[ '/']"><mat-icon>exit_to_app</mat-icon> Logout</button>
                </span>
          </mat-toolbar-row>
      </mat-toolbar>
  </div>
  
    <router-outlet></router-outlet>
