<div>
    <div id="button_panel">
        <button mat-raised-button color='primary' (click)="addNewStudent()">Create</button>
    </div>

<div *ngIf='!dataSource.data.length' class="text_center"><mat-card>No records to display!!!</mat-card></div>
<div class="mat-elevation-z8 mattable_width" *ngIf='dataSource.data.length'>

        <mat-table class="full-width-table" [dataSource]="listStudent" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.age}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fathername">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Father Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.fathername}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mothername">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Mother Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.mothername}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="class_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Class</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.class_id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.phone}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            
            <mat-cell *matCellDef="let row">

                <button mat-icon-button color="accent"  focusable="false" (click)="startEdit(row._id)">
                <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" focusable="false" (click)="deleteRecord(row._id)">
                <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
          </ng-container>
          <ng-container matCloumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="8">
                Loading data...
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-footer-row 
            *matFooterRowDef="['loading']" 
            [ngClass]="{'hideFooter': dataSource.data!=null}">
        </mat-footer-row>
        <mat-paginator #paginator
            [length]="dataSource.data.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
      </div>
    </div>
    
      