
<h1>Update student record</h1>

  <mat-card>
    <form action="example-form" [formGroup] = "updateStudentRecordFrom" class="normal-form">
      <mat-grid-list cols="2" rows='4' rowHeight="300px">
          <mat-form-field class="hidden_id">
              <input formControlName="_id" [(ngModel)]="selectedStudentRecord._id" matInput placeholder="Id" >
            </mat-form-field>
        <mat-form-field>
          <input formControlName="studentid" [(ngModel)]="selectedStudentRecord.studentid" matInput placeholder="Student Id" >
        </mat-form-field>

        <mat-form-field>
          <input formControlName="name" [(ngModel)]="selectedStudentRecord.name" matInput placeholder="Student name" >
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Student Age" [(ngModel)]="selectedStudentRecord.age" formControlName="age">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Student class"  [(ngModel)]="selectedStudentRecord.class_id" formControlName="class_id">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Class section"  [(ngModel)]="selectedStudentRecord.section" formControlName="section">
        </mat-form-field>
        <mat-form-field>
          <mat-select name="item" formControlName="gender"  [(ngModel)]="selectedStudentRecord.gender" placeholder="Select Gender">
              <ng-container *ngFor="let item of genderitems">
                  <mat-option value="{{ item }}">{{ item }}</mat-option>
              </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Reg. Date"  [(ngModel)]="selectedStudentRecord.admission_date" formControlName="admission_date" [matDatepicker]="picker"> <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Father Name"  [(ngModel)]="selectedStudentRecord.fathername" formControlName="fathername">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Mother Name"  [(ngModel)]="selectedStudentRecord.mothername" formControlName="mothername">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="City"  [(ngModel)]="selectedStudentRecord.city" formControlName="city">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Contact number"  [(ngModel)]="selectedStudentRecord.phone" formControlName="phone">
        </mat-form-field>
      </mat-grid-list>
      
        

    </form>
    <button 
    mat-raised-button 
    [disabled] = 'updateStudentRecordFrom.untouched'
    color="primary" 
    (click)="updateStudentRecord(updateStudentRecordFrom)">Update</button>

  </mat-card> 