#list_category {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 48%;
    background-color:blueviolet;
    float: left;
    border-radius: 8px;
    margin-left: 15px;
    cursor: pointer;
}

mat-card-content {
    font-weight: bold;
    text-align: left;
    color: white;
}

#slected_category {
    margin-top: 20px;
}

#slected_category mat-card{
    width: 28%;
    margin: 15px;
    background-color: rgb(47, 233, 0);
}
